<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= today %>
        </h1>
    </div>

    <ul>
        <!-- <% if(typeof(todo) != 'undefined'){ %>
        <li> <%= todo %> </li>
        <% } %> -->

        <% for (let i=0; i<todos.length; i++) { %>
            <li>
                <%= todos[i] %>
            </li>
            <% } %>



    </ul>

    <form method="post" action="/">
        <input type="text" name="todo" placeholder="add new ToDo">
        <button type="submit">+</button>
    </form>
</body>

</html>